.container {
    color: #fff;
    padding: 0 14px;
}
.center {
    text-align: center;
    margin-bottom: 14px;
}
.content {
    background-color: #0f0f0f;
    margin: 24px auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    border-radius: 14px;
    gap: 14px;
    padding-left: 14px;
}
.logo {
    width: 60px;
    height: 60px;
    transition: all 1s;
}
.logo:hover{
    transform: rotate(360deg);
}
.profit{
    color: #12f98a;
    
}
.loss{
    color: #f91257;
    
}